In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/Employees.csv')

In [3]:
df.head()

    Name  Gender      Age  Salary(USD)
0    Mark      M  20.3650         1000
1   John       M  60.3226         1200
2  Edward      M  42.2650         3000
3   Salah      M  31.3800         5000
4   Ahmed      M  42.6800         1700

In [5]:
 df.drop_duplicates(inplace=True)
 df.shape

(7, 4)

In [7]:
print('There are now', df.duplicated().sum(), 'duplicate rows.')

There are now 0 duplicate rows.

In [8]:
df['Age'] = df['Age'].astype(int)

In [10]:
 conversion_rate = 15.68

df['Salary(USD)'] = pd.to_numeric(df['Salary(USD)'], errors='coerce')

df['Salary(EGP)'] = df['Salary(USD)'] * conversion_rate

In [11]:
average_age = df['Age'].mean()
print("Average age:", average_age)

Average age: 34.42857142857143

In [12]:
median_salary = df['Salary(EGP)'].median()
print("Median salary:", median_salary)

Median salary: 29792.0

In [13]:
gender_ratio = df['Gender'].value_counts(normalize=True)
print("Ratio between males and females:")
print(gender_ratio)

Ratio between males and females:
M    0.714286
F    0.285714
Name: Gender, dtype: float64

In [14]:
df.to_csv('new_data.csv', index=False)